.le {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: #f7f7f7;

    &_hover {
        background-color: #aaa !important;
    }

    &_borderRight {
        border-right: 1px solid rgb(153, 153, 153);
    }

    &_borderBottom {
        border-bottom: 1px solid #999999;
    }

    &_contented {
        background-color: rgb(206, 206, 206);
    }
}
