.controls {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.restart {
    background-color: lightcoral;
}

.tip {
    background-color: lightblue;
}

.blocked {
    cursor: default;
    pointer-events: none;
}

.button_modal {
    min-width: 150px;
}
