.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 5px;

    &__button {
        position: relative;
        width: 30px;
        height: 30px;
        padding: 2px;

        border: 2px solid var(--gray, #888888);

        border-radius: var(--border-radius_button, 5px);

        cursor: pointer;

        &::after {
            content: attr(data-title);
            position: absolute;
            bottom: 150%;
            left: 20%;
            padding: 4px 8px;

            color: var(--white, #ffffff);

            background: var(--gray, #666666);

            border-radius: 4px;
            border-color: 1px solid var(--gray, #888888);

            pointer-events: none;
            white-space: nowrap;

            opacity: 0;

            transform: translateX(-50%);
            transition: opacity 0.3s ease 0.1s;

            z-index: 500;
        }

        &:hover {
            background-color: var(--off-white, #dddddd);
        }

        &:hover::after {
            opacity: 1;
        }

        &:active {
            transform: scale(0.95);
        }

        &:active::after {
            opacity: 0;
        }

        &_help {
            padding: 3px;
        }

        &_restart {
            padding: 3px;
        }

        &_activated {
            background-color: var(--pink-lighter, #cccccc);
        }
    }

    &__image {
        width: 100%;
    }

    &__separator {
        width: 2px;
        margin: 0 3px;

        background-color: var(--gray, #888888);
    }
}
