.be {
    float: left;
    width: 24px;
    height: 24px;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;

    cursor: pointer;
}

.be_0 {
    background: #ffffff;
}

.be_1 {
    background: #000000;
    border-right: 1px solid #aaaaaa !important;
    border-bottom: 1px solid #aaaaaa !important;
}

.be_X {
    background: #ffffff;
    background-image: url("./images/cross2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.border_right {
    border-right: 1px solid #333333;
}

.border_bottom {
    border-bottom: 1px solid #333333;
}
