.be {
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    box-sizing: border-box;
    cursor: pointer;

    transition: all 0.15s ease-in-out;
}

.be_0 {
    background: #ffffff;
}

.be_1 {
    background: #000000;
    border-right: 1px solid #aaaaaa !important;
    border-bottom: 1px solid #aaaaaa !important;
}

.be_X {
    background: #ffffff;
    background-image: url("./images/cross2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.be_border-right {
    border-right: 1px solid #333333;
}

.be_border-bottom {
    border-bottom: 1px solid #333333;
}
