@use "../../../scss/breakpoints.scss" as *;

.board {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.blocked {
    cursor: default;
    pointer-events: none;
}
