@use "../../../scss/breakpoints.scss" as *;

.menuMain {
    font-size: 14px;
    color: var(--text-second);

    &__items {
        display: flex;
        list-style: none;
    }

    &__item {
        margin-right: 20px;
        cursor: pointer;

        &:nth-last-child(1) {
            margin-right: 0;
        }
    }

    &__link {
        color: var(--menu-item);

        text-decoration: none;

        &:hover {
            color: var(--link-hover);
        }
    }

    @include media-max(tablet) {
        display: none;
    }
}
