.main {
    display: flex;
    flex-direction: column;

    width: calc(100% - 360px);
    margin-right: 20px;
}

.main > * + * {
    margin-top: 20px;
}

@supports (gap: 20px) {
    .main {
        gap: 20px;
    }

    .main > * + * {
        margin-top: unset;
    }
}

@media screen and (max-width: 1200px) {
    .main {
        width: 100%;
        margin: 0;
    }
}
