@import "../../declarations/constants.module.scss";

.block {
    margin-bottom: 20px;
    padding: 20px;

    background-color: var(--background-white);

    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
}
