.wrapper {
    display: flex;
    max-width: 1440px;
    margin: 68px auto 0;
}

@media screen and (max-width: 1440px) {
    .wrapper {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}