@use "../../../scss/breakpoints.scss" as *;

.block {
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.9);

    border-radius: var(--border-radius);

    box-shadow: 0px 6px 9px -3px rgba(0, 0, 0, 0.1);

    &__title {
        margin: 0 0 20px 0;

        font-family: "PresentScript", sans-serif;
        font-size: 16px;

        text-transform: uppercase;
    }

    &__text p {
        margin: 0 0 20px 0;
        padding: 0;
    }

    &__text p:last-child {
        margin: 0;
    }

    &_ads {
        display: none;
    }

    @include media-max(desktop) {
        &_ads {
            display: block;
        }
    }

    @include media-max(tablet) {
        padding: 10px;

        font-size: 14px;

        border-radius: 0;

        &_ads {
            display: none;
        }

        &__title {
            margin: 20px 0;
        }
    }
}
