/*
    ПРОЕКТ "CROSSW.RU - ЯПОНСКИЕ КРОССВОРДЫ"
    ШРИФТОВЫЕ И ЦВЕТОВЫЕ КОНСТАНТЫ

    Последняя версия: 10.02.2024

    UPD: начальная версия
*/

:root {
    /*
        Шрифты
    */

    --base-font-family: arial, sans-serif;

    --text-main: #333333;
    --text-second: #888888;

    /*
        Основная палитра
    */
    --pink-dark: #dc6781;
    --pink-medium: #f18daf;
    --pink-light: #f4b6c5;
    --pink-offwhite: #f5e2e7;
    --pink-bright: #f0dedd;
    --blue-medium: #9abce9;
    --white: #ffffff;

    /*
        Производное использование
    */
    --background-white: var(--white);
    --background-pink: var(--pink-offwhite);

    /*
        Скроллбары
    */

    --scrollbar-thumb: var(--pink-medium);
    --scrollbar-track: var(--pink-light);

    /*
        Рамки
    */
    --border: var(--pink-offwhite);
    --border-radius: 6px;

    /*
        Меню
    */
    --menu-item: var(--text-second);

    /*
        Ссылки
    */
    --link: var(--text-second);
    --link-hover: var(--blue-medium);
}
