.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    overflow: hidden;
    padding: 20px;

    text-align: center;

    background-color: #ffffff;
    z-index: 200;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    transform: translate(-50%, -50%);

    &__image {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    &__p {
        padding-bottom: 0;
        font-size: 16px;
    }

    &__buttons {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}
