.main {
    width: calc(100% - 320px);
}

.sidebar {
    margin-left: 20px;
    margin-bottom: 20px;
}

.block {
    margin-bottom: 20px;
}

.footer {
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .block {
        margin-bottom: 0;
    }
}