.table {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #000;
    box-sizing: border-box;
}

.zero_field {
    background-color: #666666;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;
}

.win {
    background-image: url("./image/win.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
