/*
    ПРОЕКТ "CROSSW"
    ШРИФТОВЫЕ И ЦВЕТОВЫЕ КОНСТАНТЫ

    Последняя версия: 09.02.2024
*/

:root {
    --base-font-family: Inter, arial, sans-serif;
    --blue__blue_1: #f8f5ff;
    --orange__orange_500: #ff784b;
    --orange__orange_0: #ffefe9;
    --blue__blue_0: #eaebfc;
}
