/*
    ПРОЕКТ "CROSSW.RU - ЯПОНСКИЕ КРОССВОРДЫ"
    ФАЙЛ СТИЛЕЙ

    Последняя версия: 08.09.2025
*/

@import url('./consts.css');

/*
    Страница в целом
*/

.intermission {
    display: none;
}

.ads {
    width: 300px;
}

.ads-bottom {
    display: none;
}

@media screen and (max-width: 1440px) {
    .main {
        width: 100%;
        margin: 0;
        padding: 0 16px;
    }

    .intermission {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .ads-bottom {
        display: block;
    }
}