/*
    ПРОЕКТ "CROSSW.RU - ЯПОНСКИЕ КРОССВОРДЫ"
    ФАЙЛ СТИЛЕЙ

    Последняя версия: 23.08.2025
*/

@import url('./consts.css');

/*
    Страница в целом
*/


body {
    margin: 0;

    font-family: var(--base-font-family);
    color: var(--text-main);

    border-bottom: 1px solid var(--border);

    background-color: var(--background-pink);

    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

body::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
}

body::-moz-scrollbar-button,
::-webkit-scrollbar-button {
    display: none;
    width: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.h2 {
    font-size: 20px;
}

.p {
    margin: 0 0 20px 0;
    padding: 0;
}

.p:last-child {
    margin: 0;
}

.header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
    padding: 0 20px;

    background-color: var(--background-white);

    box-shadow: 0px 6px 9px -3px rgba(0, 0, 0, 0.1);
}

.header__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-title__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.header-title__logo {
    margin-right: 10px;
}

.header-title__title {
    color: var(--text-main);
    font-family: 'PresentScript', sans-serif;
    font-size: 16px;
    font-weight: 400;

    text-transform: uppercase;
}

.main-menu {
    font-size: 14px;
    color: var(--text-second);
}

.main-menu__items {
    display: flex;
    padding-left: 66px;

    list-style: none;
}

.main-menu__item {
    margin-right: 20px;
    cursor: pointer;
}

.main-menu__item:nth-last-child(1) {
    margin-right: 0;
}

.main-menu__item:hover {
    color: var(--link-hover);
}

.wrapper {
    display: flex;
    max-width: 1440px;
    margin: 68px auto 0;
}

.sidebar {
    max-width: 320px;
    margin-right: 20px;
    margin-bottom: 20px;

    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);

    background-color: var(--white);

    overflow: hidden;
}

.main {
    width: calc(100% - 320px);
}

.block {
    margin-bottom: 20px;
    padding: 20px;

    background-color: var(--background-white);

    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);

    box-shadow: 0px 6px 9px -3px rgba(0, 0, 0, 0.1);
}

.intermission {
    display: none;
}

.slider__items {
    display: block;
    padding: 0;

    list-style: none;

    text-wrap: nowrap;
    overflow: hidden;
}

.slider__item {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

.slider__item:nth-last-child(1) {
    margin-right: 0;
}

.slider__link {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: var(--link);

    text-decoration: none;
}

.slider__link:hover {
    font-weight: bold;
}

.slider__image {
    width: 150px;
    height: 100px;

    border: 1px solid var(--border);

    background: linear-gradient(45deg, #EEEEEE, #FAFAFA);
}

.slider__image:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.slider__name {
    margin: -23px 0 0 0;
    padding: 0;
    text-align: center;
    overflow: hidden;

    font-size: 12px;

    line-height: 20px;

    background-color: #EEEEEEAA;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slider-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.slider-button__image {
    width: 25px;
    height: 25px;

    cursor: pointer;
}

.slider-button_left {
    margin-right: 5px;
}

.slider-button_right {
    margin-left: 5px;
}

.news__items {
    padding: 0;
}

.entry {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin-bottom: 4px;
    padding-left: 0;

    list-style: none;
}

.entry__date {
    margin-right: 10px;

    font-weight: bold;
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    width: 100%;
    max-width: 1440px;
    height: 48px;
    margin: 0 auto;
    padding: 0 20px;

    font-size: 14px;

    line-height: 14px;

    background-color: var(--background-white);
}

.ads {
    width: 300px;
}

.ads-bottom {
    display: none;
}

.game-info {
    display: flex;
    justify-content: left;
    align-items: center;
}

.game-info__entry {
    display: flex;
    margin-right: 20px;
}

.game-info__entry-key {
    margin-right: 5px;
}

.game-info__entry-value {
    font-weight: bold;
}

.game-info__entry:nth-last-child(1) {
    margin-right: 0;
}

.game-board {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    min-height: 800px;

    overflow: scroll;
}

.game-board::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.game-board::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

.game-board::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
}

.game-board::-moz-scrollbar-button,
::-webkit-scrollbar-button {
    display: none;
    width: 0px;
}

@media screen and (max-width: 1440px) {
    .wrapper {
        display: block;
    }

    .main {
        width: 100%;
        margin: 0;
        padding: 0 16px;
    }

    .intermission {
        display: block;
    }

    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin-bottom: 0;
    }

    .main-menu {
        display: none;
    }

    .wrapper {
        margin-top: 48px;
        margin-bottom: 50px;
    }

    .main {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .block {
        margin-bottom: 0;
        padding: 10px;

        font-size: 14px;

        border-radius: 0;
    }

    .game-board {
        padding: 0;
    }

    .ads-bottom {
        display: block;
    }

    .footer {
        position: fixed;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        text-align: center;
    }
}