.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: var(--base-font-family);

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;

        &:active {
            transform: scale(var(--button-scale, 0.95));
        }

        cursor: pointer;
    }

    &__items {
        display: flex;
        width: 100%;
        margin: 0 5px;
        padding: 10px 0;

        list-style: none;

        overflow-x: auto;
        overflow-y: hidden;

        scroll-behavior: smooth;
        scroll-snap-type: x proximity;

        -webkit-overflow-scrolling: touch;
        overscroll-behavior-x: contain;

        gap: 10px;

        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__item {
        flex: 0 0 auto;
        position: relative;
        width: 180px;
        height: 180px;
        padding: 10px;

        background-color: var(--pink-offwhite, #f5e2e7);

        border-radius: var(--border-radius, 6px);

        box-sizing: border-box;

        transition: all 0.15s ease-in-out;

        scroll-snap-align: start;

        &:hover {
            background-color: var(--blue-medium, #f5ccd6);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;

        overflow: hidden;
    }

    &__link {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        color: var(--link);

        text-decoration: none;
    }

    &__image {
        width: 100%;
        height: 130px;
        object-fit: contain;
    }

    &__info {
        padding-top: 10px;
        text-align: center;
        overflow: hidden;

        font-size: 12px;

        line-height: 20px;
    }
}
