@use "../../../../scss/breakpoints.scss" as *;

.menuMobileButton {
    display: none;
    width: 26px;
    height: 26px;

    color: var(--white, #ffffff);

    cursor: pointer;

    &__icon {
        fill: none;
        stroke-width: 2px;
        stroke: currentColor !important;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    &__icon_line1,
    &__icon_line2,
    &__icon_line3 {
        transform: none;

        transition: all 0.3s cubic-bezier(0.18, 0.77, 0.58, 1);
    }

    &_active &__icon_line1 {
        transform-origin: 0 4px;
        transform: translateX(2px) rotate(45deg);
    }

    &_active &__icon_line2 {
        opacity: 0;
    }

    &_active &__icon_line3 {
        transform-origin: 0 22px;
        transform: translateX(2px) rotate(-45deg);
    }

    @include media-max(tablet) {
        display: block;
    }
}
