.le {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: #f7f7f7;
}

.border_right {
    border-right: 1px solid rgb(153, 153, 153);
}

.border_bottom {
    border-bottom: 1px solid #999999;
}

.contented {
    background-color: rgb(206, 206, 206);
}
